.container{
	display: flex;
	flex-direction: column;
	flex:1;
	height: 100vh;
}
.header{
	background-color: #4F83F0;
	display:flex;
	align-items: center;
	margin-top: -1em;
	margin-left: -0.5em;
	flex:1;
	justify-content: space-between;
}
.header a{
	color:white;
	text-decoration: none;
}
.right-header-items button{
	background-color:#ff0000;
	color:white;
	border-radius: 10%;
	border:none;
	font-size: 1.5em;
	margin-right: 1em;
	cursor: pointer;
}
.main{
	flex:15;
}
.main h2{
	font-family: Century Gothic;
}
.bucket-lists{
	display: flex;
}
#bucket-list{
	width:20em;
	height:25em;
	border:2px solid grey;
	border-radius: 1%;
}
#add-item-form{
	display: flex;
	justify-content: center;
	margin-top: 1em;
}
#title-input{
	border-top:none;
	border-right:none;
	border-left:none;
	border-bottom:1px solid black;
}
#bucket-list button{
	border:none;
	background-color:#03d496;
	color:white;
	font-weight: bold;
	padding:0.5em 0 0.5em 0;
	width:7em;
	border-radius:5%;
	margin-left:0.5em;
}
#items-list li{
	list-style-type: none;
}