.container{
	display: flex;
	flex-direction: column;
	flex:1;
	height: 100vh;
}

.header{
	background-color: #23233c;
	display:flex;
	align-items: center;
	margin-top: -1em;
	margin-left: -0.5em;
	flex:1;
	justify-content: space-between;
}

.header a{
	color:white;
	text-decoration: none;
	font-family: Calibri;
	margin-left: 2em;
	font-size:0.9em;
}

.right-header-items{
	display: flex;
	align-items: center;
}

.right-header-items *{
	margin-right: 2em;
	font-family: Calibri;
}

#create-button,#log-out-button{
	background:#F9FAFE;
	border:none;
	border-radius:2%;
	color:#23233c;
	font-weight: bold;
	height:2em;
	cursor:pointer;
}

#hello-text{
	color:#F9FAFE;
}

.main{
	flex:12;
}

#top-area{
	display: flex;
	justify-content: space-around;
	align-items: center;
}


#top-area h2{
	font-family: Arial;
	font-weight: lighter;
}

.bucket-lists{
	display: flex;
	margin-top: 1em;
}

#bucket-list{
	box-sizing: border-box;
	width:20em;
	background:#F9FAFE;
	min-height:27em;
	/*  add box shadow*/
	box-shadow: 5px 5px 5px 5px #888888;
	margin-left:2em;
	display: flex;
	flex-direction: column;
	height:auto;
}

#create-bucket-form{
	display: flex;
	justify-content: center;
	margin-top: 1em;
}


#create-bucket-form button{
	border:none;
	background-color:#03d496;
	color:white;
	font-weight: bold;
	padding:0.5em 0 0.5em 0;
	width:7em;
	border-radius:5%;
	margin-left:0.5em;
}

#bucket-lists-list{
	display: flex;
	flex-direction:column;
}

#bucket-lists-list li{
	display: flex;
	justify-content: space-between;
}
