
<div>
    <h2>Bucket list</h2>
    <form method="POST" action="bucket/{{ bucket['Id'] }}">
        <input type="text" name="item">
        <button>Add Item</button>
    </form>

    {% for item in data.items %}
    <ul>
        <li id="{{ item.id }}">
            {{ item.body }}
            <a href="/view/edit_bucket/{{ bucket['Id'] }}">Edit</a>     
            <form method="POST", action="view/delete_item">
                <button type="submit">X</button>
            </form>
        </li>
    </ul>
    {% endfor %}
</div>