<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Bucket List</h1>
			<div class="right-header-links">
				<p>Login</p>
				<p>Sign Up</p>
			</div>
		</div>
		<div class="content">
			<h2>Is there a list of things that you've always wanted to do?</h2>
			<p>Do you wish there was a place where you could record these tasks and view them from anywhere?</p>
			<p>Sign Up for Bucket List and create your bucket list today</p>
		</div>
	</div>
</body>
</html>