<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/index.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Bucket List</h1>
			<div class="right-header-links">
				<p><a href="login">Login</a></p>
				<p><a href="signup">Sign Up</a></p>
			</div>
		</div>
		<div class="main">
			<div id="content">
				<h2>Is there a list of things that you've always wanted to do?</h2>
				<p>With Bucket List, you can record these tasks and view them from anywhere</p>
				<p>Sign Up and create your bucket list today</p>
			</div>
		</div>
	</div>
</body>
</html>