<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="../static/login.css">
</head>
<body>
<div class="container">
	<div class="header">
		<h2><a href="index.html">Bucket List</a></h2>
	</div>
	<div class="main">
		<h2>Log In to Bucket List</h2>
		<form>
			<label>Username</label>
			<input type="text" name="">
			<label>Password</label>
			<input type="password" name="">
			<button>Log In</button>
		</form>
		<p id="bottom-paragraph">Don't have an account? <a href="signup.html">Sign Up here</a></p>
	</div>
</div>
</body>
</html>