{% import "bootstrap/wtf.html" as wtf %}
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="../static/login.css">	
</head>
<body>
<div class="container">
	<div class="header">
		<h2><a href="/">Bucket List</a></h2>
	</div>	
	<div class="main">
		<h2>Sign Up for Bucket List</h2>
		<form action="/signup" method="POST">
			{{ form.hidden_tag() }}
			{{ wtf.form_field(form.username) }}
			{{ wtf.form_field(form.password) }}
			<button>Sign Up</button>
		</form>
		<p id="bottom-paragraph">Already have an account? <a href="login">Login</a></p>
	</div>
</div>
</body>
</html>