<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="../static/login.css">	
</head>
<body>
<div class="container">
	<div class="header">
		<h2>Bucket List</h2>
	</div>	
	<div class="main">
		<h2>Sign Up for Bucket List</h2>
		<form>
			<label>Username</label>
			<input type="text" name="">
			<label>Password</label>
			<input type="password" name="">
			<button>Sign Up</button>
		</form>
		<p id="bottom-paragraph">Already have an account? <a href="login.html">Login</a></p>
	</div>
</div>
</body>
</html>