<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="../static/view.css">
</head>
<body>
	<div class="container">
        <div class="header">
            <a href="/"><h2>bucketlist</h2></a>
            <div class="right-header-items">
                <!--Add hello,name of user -->
                <button id="create-button">Create a bucket</button>
                <span id="hello-text">Hello, {{ user }}</span>
                <button id="log-out-button">Log Out</button>
            </div>
        </div>
        <div class="main">
            
            <div id="top-area">
                <h2>Your bucket lists</h2>
            </div>

            <div class="bucket-lists">
            
            </div>
        <form name="createBucket" method="POST", action="/view/create_bucket">
          <div class="form-group">
            <input type="text" class="form-control" required placeholder="Bucket Name" id="title" name="bucket" value="{{ request.form.bucket }}">
            <br>
            <input type="submit" class="btn btn-primary" value="Add Bucket">
          </div>
        </div>
    </div> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/view.js"></script>
</body>
</html>